/* 标题文字样式 */
#The1
{
	color:white;
	text-align:center;
}
#today
{
	color:white;
	text-align:center;
}
#ooo
{
	color:white;
	text-align:center;
}
#days
{
	color: white;
	text-align:center;
}
#ymd
{
	color:white;
	text-align:center;
}
